  :root{
 --azul-escuro: #45858c;
 --azul-claro: #A0D9D9; 
 --bege-claro: #D9C589;
 --bege-medito: #BF9765;
 --vermelho-forte: #D92B04; 
  }
  
   
   
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3f3b3b;
    background-color: #fce4ec;
    line-height: 1.6;

}

header {
    background-image: url(./img/AdobeStock_1786968914.jpeg);
    background-size: cover;
    background-position: center;
    color: #413f3f;
    text-align: center;
    padding: 100px 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

header h1{
    font-size: 4em;
    margin-bottom: 10px;
    text-shadow: 5px 5px 20px rgb(125, 0, 100) ;
}

header p {
    font-size: 1.5em;
    margin-bottom: 30px;
    font-style: italic;
}

header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(3, 37, 37, 0.404);
    z-index: 1;
    background-color: radial-gradient(circle, #EEAECA 0%, #94BBE9 100%);

}
header *{
    z-index: 2;
}

nav a{
    border-radius: 10px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    padding: 10px 15px;
    border: 2px solid #333;
    background-color: #deb887;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover{
    background-color: #d2691e;
    color: #006400;
}

section{
    padding: 60px 20px;
    text-align: center;
}

section h2{
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #333 ;
    border-bottom: 3px solid #333;
    display: inline-block;
    padding-bottom: 10px;
}

#produtos{
    background-color: #deb887;
}
#produtos article{
    display: flex;
    justify-content: space-around;
    gap: 20px ;
    max-width: 1200px;
    margin: 0  auto;
    flex-wrap: wrap;
}

img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

figure{
    flex-basis: 30%;
    min-width: 250px;
    text-align: center;
    background-color: #920a0a;
    border-radius: 10px;
    box-shadow: 0 4px 8px #3837376e;
    overflow: hidden;
    transition: transform 0.3s;

}

figure:hover{
    transform: translateY(-7px);
}
figcaption{
    padding: 15px 10px;
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    }

    #historico{
        background-color: var(--azul-claro);
    }

    #historico p{
        font-size: 1.1em;
        text-align: justify;
        margin: 20px auto;
        max-width: 800px;
    }

    footer{
        background-color: var(--bege-medito);
        color: #790d0d;
        padding: 30px 20px;
        text-align: center;
        font-size: 0.9em;
    }

    footer p, footer address, footer a{
        margin-bottom: 5px;
        display: block;

    }

    *{
        margin: 0;
    }
  

    .icones{
        display: flex;
        width: 500px;
        margin: auto;
        justify-content: space-around;
    }

    .icones a{
        font-size: 20px;
        color: #df010191;
    }

    .icones a:hover{
        color: #f8bbd0;
        text-shadow: 2px 2px 5px #53080863;
    }